.side-nav {
    width: 250px;
    transition: all 0.3s;
  }

  .side-nav.collapsed {
    width: 90px;
  }

  .side-nav.collapsed .nav-text {
    display: none;
  }

  .side-nav.collapsed .nav-link {
    padding-left: 20px;
    padding-right: 40px;
    justify-content: start;
  }
